body{
    background-color: rgb(252, 255, 252);
    margin: 1 auto;
    width: auto;
    
}
#titre{
    text-align: center;
    font-size: 150%;
 }
 .main{
    background-color: rgb(251, 250, 244);
    padding-top: 15%;
    margin:5%;
    font-size: 20px;
  
 }

.thumbnail img{
    width:200px;
    height:auto;
    margin-left: 20%;
   
}
.image{
    text-align: center;
    align-items: center;
}
img {
    border-radius: 10%;
    width: 300px;
    height:auto;
    
   
}
#titre1{
    color: rgb(75, 172, 15);
}
section.class1{
    margin-top: -15%;
    text-align: center;
}
.class2{
    padding-left: 5%;
    padding-top: 5%;
}
span{
    font-size: 130%;
}
ul{
    line-height: 1.9;
}
.footer{
    text-align: center;
    color: rgb(11, 13, 9);
    font-size: 30px;
}
div .class3{
    display: flex;
    flex-wrap: wrap;
}

    
