body{
    background-color: rgb(72, 241, 72);
    margin: 1 auto;
    width: auto;
    
}
#titre{
    text-align: center;
    font-size: 150%;
 }
 .main{
    background-color: cornsilk;
    padding-top: 15%;
    margin:5%;
    font-size: 20px;
  
 }

.thumbnail img{
    width:200px;
    height:auto;
    margin-left: 35%;
}

.image{
    text-align: center;
    align-items: center;
}
img {
    border-radius: 10%;
    width: 400px;
    height:auto;
    
   
}
#titre1{
    color: rgb(75, 13, 221);
}
section.class1{
    margin-top: -15%;
    text-align: center;
}
.class2{
    padding-left: 5%;
    padding-top: 5%;
}
span{
    font-size: 130%;
}
ul{
    line-height: 1.9;
}
.footer{
    text-align: center;
    color: rgb(103, 194, 11);
    font-size: 30px;
}
div .class3{
    display: flex;
    flex-wrap: wrap;
}

    
